*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: auto;
    margin-top:10px ;
    width: 100vh;
    text-align: center;
    background: rgb(243, 220, 220);
    padding-top: 20px;
    padding-bottom: 20px;
}
.container>h1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.url{
    padding-left: 200px;
    text-align: left;
    margin-bottom: 50px;
}